<div>
    <table class="table">
        <thead>
        <tr>
            <td>Mo</td>
            <td>Tu</td>
            <td>We</td>
            <td>Th</td>
            <td>Fr</td>
            <td>Sa</td>
            <td>Su</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="week in selectedMonthWeeks">
            <td ng-repeat="day in week track by $index"
                ng-class="{'disabled': isBeforeMinDate(day), 'selected': isSelectedDate(day), 'between': isBetween(day), 'empty': !day}"
                ng-mouseover="onMouseOver(day)"
                ng-mouseleave="onMouseLeave()"
                ng-click="selectDay(day)">
                <span>{{day | date:'d'}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>